<form class="mt-2" id="search-form" action="" method="GET">
  <div class="row">
    <div class="col-md-1">
      <label class="form-label" for="id_year">Year</label>
      {{ search_form.year }}
    </div>
    <div class="col-md-1">
      <label class="form-label" for="id_month">Month</label>
      {{ search_form.month }}
    </div>
    <div class="col-md-2">
      <label class="form-label" for="id_search_category">Category</label>
      {{ search_form.search_category }}
    </div>
  </div>
</form>
