<script>
  const donutChartCtx = document.getElementById('donutChart').getContext('2d');

  const donutChartLabels = [
    {%for label in donut_chart_labels %}
    '{{ label }}',
    {%endfor %}
  ]

  const donutChartData = {
    labels: donutChartLabels,
    datasets: [{
      label: 'Donut Chart',
      data: [
        {%for value in donut_chart_values %}
        {{ value }},
        {%endfor%}
      ],
      backgroundColor: [
        {%for c in color_map %}
        '{{ c }}',
        {%endfor %}
      ],
    }]
  };

  const donutChart = new Chart(donutChartCtx, {
    type: 'doughnut',
    data: donutChartData,
  });
</script>
