<script>
const lineLabels=[{% for month in months %}'{{ month }}',{% endfor %}];
const lineOptions={
  responsive: true,
  scales: {
    x: {
      grid: {
        display:false,
      },
      ticks: {
        callback: function(val, index) {
          return index % 4 === 0 ? this.getLabelForValue(val) : '';
        },
      },
    },
    y:{
      grid:{
        display:false
      },
      position: 'left',
    },
    y1:{
      grid:{
        display:false
      },
      position: 'right',
    },
  }
};

const lineChartCtx = document.getElementById('lineChart').getContext('2d');
const lineChartData = {
  labels: lineLabels,
  datasets: [
    {
      label: 'Asset',
      type:'bar',
      fill:false,
      backgroundColor: "rgba(75, 192, 192, 0.5)",
      borderColor: 'rgb(75, 192, 192)',
      data: [
        {% for height in heights %}
        {{ height }},
        {% endfor %}
      ],
      yAxisID:'y',
    },
    {
      label: 'Rate Increase',
      type:'line',
      backgroundColor: 'rgb(54, 162, 235)',
      borderColor: 'rgb(54, 162, 235)',
      borderWidth: 2,
      data: [
        {% for height in spark_heights %}
        {{ height }},
        {% endfor %}
      ],
      yAxisID:'y1',
      tension: 0.4,
    },
  ]
};

const lineChart = new Chart(lineChartCtx, {
  data: lineChartData,
  options: lineOptions,
});
</script>
