{% load humanize %}
<table class="table">
  <thead>
    <tr>
      <th scope="col" class="text-end" width="30%">Category</th>
      <th scope="col" class="text-end" width="30%">Amount</th>
      <th scope="col" class="text-end">Composition Ratio</th>
    </tr>
  </thead>
  <tbody>
    {% for item in table_items %}
    <tr>
      <th class="text-end">{{ item.category }}</th>
      <th class="text-end">{{ item.amount|intcomma }}</th>
      <th class="text-end">{{ item.composition_ratio }}%</th>
    </tr>
    {% endfor %}
  </tbody>
</table>
