{% load humanize %}
<div class="table-responsive">
  <table class="table table-sm table-striped table-bordered">
      {% include "kakeibo/components/thead.html" %}
    <tbody>
      {% for payment in payment_list %}
      <tr>
        <th class="text-end">{{ payment.date|date:'Y-m-d' }}</th>
        <th class="text-end">{{ payment.category }}</th>
        <th class="text-end">{{ payment.amount|intcomma}}</th>
        <th class="text-start">
          {% if payment.description %}
          {{ payment.description }}
          {% endif %}
        </th>
        <th class="text-center">
          <button type="button" class="btn btn-floating btn-danger delete-modal-button"
          data-mdb-toggle="modal"
          data-mdb-target="#itemDeleteModal"
          data-deleteurl="{% url 'kakeibo:payment_delete' payment.pk %}"
          data-date="{{ payment.date|date:'Y-m-d' }}"
          data-category="{{ payment.category }}"
          data-amount="{{ payment.amount }}"
          data-description="{{ payment.description }}"
          >
          <i class="far fa-trash-alt"></i>
          </button>
        </th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
