{% extends 'kakeibo/base.html' %}
{% block content %}

<div class="text-center">
  <a class="btn btn-sm btn-light btn-floating" href="{% url 'kakeibo:asset_dashboard' prev_month.year prev_month.month %}">
    <i class="fas fa-chevron-left"></i>
  </a>
  <span class="ms-4 me-4 fs-5">{{ current_month|date:"Y-m" }}</span>
  <a class="btn btn-sm btn-light btn-floating" href="{% url 'kakeibo:asset_dashboard' next_month.year next_month.month %}">
    <i class="fas fa-chevron-right"></i>
  </a>
</div>

<div class="row mt-3">
  <div class="col-md-7">
    <div class="card border border-primary shadow-0 h-100">
      <div class="card-body">
        {% include "kakeibo/components/asset_dash_table.html" %}
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="card border border-primary shadow-0 h-100">
      <div class="card-body">
        <canvas id="donutChart"></canvas>
      </div>
    </div>
  </div>
</div>
<div class="card border border-primary shadow-0 h-100 mt-2">
  <div class="card-body">
    <canvas id="lineChart" height="80"></canvas>
  </div>
</div>


{% endblock %}
{% block extrajs %}
{% include "kakeibo/components/cdn_chartjs.html" %}
{% include "kakeibo/components/chart_donut.html" %}
{% include "kakeibo/components/chart_asset_transition.html" %}
{% endblock %}
